appdirs==1.4.3
certifi==2018.4.16
chardet==3.0.4
dropbox==9.0.0
fs==2.0.26
-e git+git@github.com:zopyx/fs.dropboxfs.git@4ebfb415c88d81e8dd59ea214ee316fe389dd3d6#egg=fs.dropboxfs
idna==2.7
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
